name: Deploy to Firebase Prod on main branch merge
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install React app dependencies
        run: npm install

      - name: Load Prod Environment Variables from JSON Secret
        env:
          JSON_SECRET_CONTENT: ${{ secrets.PROD_ENV_VARS }}
        run: |
          declare -A mapping=(
              ["FirebaseAPIKey"]="VITE_FIREBASE_API_KEY"
              ["FirebaseAuthDomain"]="VITE_FIREBASE_AUTH_DOMAIN"
              ["FirebaseProjectID"]="VITE_FIREBASE_PROJECT_ID"
              ["FirebaseMessagingSenderID"]="VITE_FIREBASE_MESSAGING_SENDER_ID"
              ["FirebaseAppId"]="VITE_FIREBASE_APP_ID"
              ["FirebaseStorageBucket"]="VITE_FIREBASE_STORAGE_BUCKET"
              ["FirebaseMeasurementId"]="VITE_FIREBASE_MEASUREMENT_ID"
          )

          for json_key in "${!mapping[@]}"; do
            vite_env_key="${mapping[$json_key]}"
            value=$(echo "$JSON_SECRET_CONTENT" | jq -r --arg key "$json_key" '.[$key]')
            if [[ "$value" == "null" ]]; then
              value=""
            fi
            echo "${vite_env_key}=${value}" >> "$GITHUB_ENV"
          done
        shell: bash

      - name: Build React app for production
        run: npm run build

      - name: Install Cloud Functions dependencies
        run: npm install
        working-directory: functions

      - name: Build Cloud Functions
        run: npm run build
        working-directory: functions

      - name: Deploy Hosting, Functions, and Firestore to Firebase Production
        env:
          FIREBASE_SA_KEY_JSON: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MATHBUILDERSAPP }}
        run: |
          echo "$FIREBASE_SA_KEY_JSON" | jq -c '.' > service_account_key.json
          
          # Ensure the service account key is removed on exit, even if the deploy fails
          trap "rm -f service_account_key.json" EXIT
          
          export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/service_account_key.json"
          npm install -g firebase-tools
          firebase deploy --only hosting,functions,firestore --project mathbuildersapp --force
        shell: bash
